<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>common_permutations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cryptkicker2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>doublets-10150.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>file-fragmentation-10132.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>fmt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>judge-script-10188.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>waldorf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>wertyu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E4DB5CF19C346F2007AA8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E4DB5DC19C3CC28007AA8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E4DB5E919C4EDC3007AA8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E4DB5F619C4F0D5007AA8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E4DB60319C55B44007AA8D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E785C2019C2004500172267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E785C2D19C202B800172267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EAADFA119BA17A8008C0E8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
